<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Resultado da Análise</h1>
        <!--A tag p é utilizada para escrever parágrafos e informações maiores
        sem configuração de título-->
        <!--A tag b ou strong coloca a palavra em negrito-->
        <p><b>Funcionário</b> {{nome}}</p>
        <p><b>Meta</b> {{'Batida' if meta_batida else 'Não atingida'}}</p>
        <p><b>Bônus</b> R${{bonus}}</p>
        <br>
        <a class= "botao-secundario" href="/">Voltar</a>
    </div>
</body>

</html>